<input class="toggle-box" id="identifier-1" type="checkbox" >
<label for="identifier-1">Click để hiển thị nội dung rất dài!</label>
<div>Thiết kế được làm mới lại hoàn toàn
  Nhắc tới Apple, người dùng sẽ luôn nghĩ tới những thiết bị iPhone đẳng cấp, mang trên mình một thiết kế vô cùng sang trọng, hiện đại và thời thượng. Và iPhone 12 Series của năm nay cũng không phải là một ngoại lệ. Mẫu iPhone 12 64GB sở hữu một thiết kế đã được “lột xác” hoàn toàn so với các thế hệ tiền nhiệm trước đây với cạnh được vát phẳng, vuông thành sắc cạnh, mang tới một cảm giác cực kì bền bỉ và chắc chắn. Thiết kế này khiến cho người dùng có thể dễ dàng liên tưởng tới những mẫu iPhone huyền thoại trước đây đã làm nên tên tuổi của Apple như iPhone 4 hoặc iPhone 5.

  maxresdefault-177

  Màn hình của iPhone 12 64GB được trang bị công nghệ tấm nền OLED Super Retina XDR, mang lại cho iPhone 12 một chất lượng hiển thị xuất sắc nhất từ trước đến nay. Đi cùng với đó là độ phân giải Full HD 2,532 x 1,170; cho mật độ điểm ảnh cực tốt lên tới 460ppi. Với màn hình được nâng cấp và cải tiến như vậy, những vị chủ nhân sở hữu iPhone 12 có thể thoải mái thưởng thức những bộ phim hoặc chơi game mà không cần phải lo nghĩ về bất cứ điều gì.

   “Quái thú hiệu năng” với bộ vi xử lý Apple A14 Bionic
  Sở hữu một vẻ bên ngoài sang trọng, bóng bẩy và lịch lãm là vậy, thế nhưng iPhone 12 64GB lại mang trong mình một sức mạnh cực kì khủng khiếp, vượt trội hơn tất cả những mẫu smartphone đang có mặt trên thị trường. Tất cả là nhờ có bộ vi xử lý Apple A14 Bionic được sản xuất trên tiến trình 5nm mới nhất, không chỉ manh mà còn tiết kiệm điện năng tới tối đa. Con chip này được đánh giá là bộ vi xử lý mạnh mẽ nhất, nhanh nhất hiện nay với cấu tạo từ 6 lõi CPU, 11,8 tỷ bóng bán dẫn, 4 lõi GPU mới, và nhanh hơn A13 Bionic tới 40%. Công nghệ kết nối mạng 5G mới cùng với Wi-Fi 6 cũng đã được đưa vào iPhone 12, hứa hẹn sẽ mang tới một khả năng kết nối Internet vượt trội hoàn toàn.

  lcimg-a62d96d8-e998-4803-9ac5-dce77df28439

  Đặc biệt, trí tuệ nhân tạo AI Neural Engine giờ đây cũng đã được nâng lên thành 16 lõi, vì vậy nên vi xử lý Apple A14 Bionic có thể tính toán được 11 nghìn tỷ phép tính trong một giây. Bộ nhớ 64GB trên iPhone 12 cũng giúp cho người dùng có được không gian lưu trữ thoải mái hơn.

  Hệ thống camera đẳng cấp
  Vẫn là một hệ thống camera kép như trên người tiền nhiệm iPhone 11, thế nhưng các cảm biến trên iPhone 12 64GB chính hãng VN/A đã có khẩu độ tốt hơn, giúp thu nhận được nhiều ánh sáng, và từ đó những tấm hình cho ra sẽ mang chất lượng “xịn xò” hơn. Theo đó, cụm camera kép của máy bao gồm một cảm biến chính 12MP góc rộng và một camera phụ góc siêu rộng cũng có độ phân giải là 12MP, cho trường nhìn lên tới 120 độ.

  lcimg-c1948b56-0661-497c-b56e-e938c2d208a7

  Ngoài ra, Apple cũng đã nâng cấp các thuật toán xử lý ảnh trong các tính năng như chụp chân dung Portrait hay chụp chân dung Highkey. iPhone 12 hứa hẹn cũng sẽ cho khả năng chụp đêm tốt hơn nhiều so với iPhone 11. Về khả năng quay video, iPhone 12 sẽ là smartphone đầu tiên hỗ trợ quay video HDR chuẩn Dolby Vision, độ phân giải cao 4K@60fps.

  Viên pin cho thời lượng sử dụng bền bỉ
  Cung cấp năng lượng cho iPhone 12 năm nay là viên pin cho thời lượng sử dụng lên tới 17 tiếng xem video liên tục cùng với thời gian nghe nhac liên tục lên tới hơn 60 tiếng.

  lcimg-2d684d61-a3fc-48a9-8faa-f2ef0d1d3306

  Ngoài dung lượng pin được cải thiện, công nghệ sạc nhanh cũng rất quan trọng. iPhone 12 được trang bị công nghệ sạc nhanh Power Delivery 2.0 18W của Apple, chỉ cần sạc 30 phút là người dùng sẽ có ngay 50% pin để tiếp tục những công việc còn đang dang dở. Đặc biệt hơn cả là Apple đã mang tính năng sạc không dây MagSafe 15W quay trở lại trên iPhone 12, cho phép người dùng có thể nạp lại năng lượng mà không cần phải mang theo quá nhiều củ, cáp sạc phức tạp.'
  WHERE productId = 'P101';

  UPDATE Product
  SET description = N'Thiết kế được làm mới lại hoàn toàn
  Nhắc tới Apple, người dùng sẽ luôn nghĩ tới những thiết bị iPhone đẳng cấp, mang trên mình một thiết kế vô cùng sang trọng, hiện đại và thời thượng. Và iPhone 12 Series của năm nay cũng không phải là một ngoại lệ. Mẫu iPhone 12 128GB sở hữu một thiết kế đã được “lột xác” hoàn toàn so với các thế hệ tiền nhiệm trước đây với cạnh được vát phẳng, vuông thành sắc cạnh, mang tới một cảm giác cực kì bền bỉ và chắc chắn. Thiết kế này khiến cho người dùng có thể dễ dàng liên tưởng tới những mẫu iPhone huyền thoại trước đây đã làm nên tên tuổi của Apple như iPhone 4 hoặc iPhone 5.

  maxresdefault-177

  Màn hình của iPhone 12 128GB được trang bị công nghệ tấm nền OLED Super Retina XDR, mang lại cho iPhone 12 một chất lượng hiển thị xuất sắc nhất từ trước đến nay. Đi cùng với đó là độ phân giải Full HD 2,532 x 1,170; cho mật độ điểm ảnh cực tốt lên tới 460ppi. Với màn hình được nâng cấp và cải tiến như vậy, những vị chủ nhân sở hữu iPhone 12 có thể thoải mái thưởng thức những bộ phim hoặc chơi game mà không cần phải lo nghĩ về bất cứ điều gì.

   “Quái thú hiệu năng” với bộ vi xử lý Apple A14 Bionic
  Sở hữu một vẻ bên ngoài sang trọng, bóng bẩy và lịch lãm là vậy, thế nhưng iPhone 12 128GB lại mang trong mình một sức mạnh cực kì khủng khiếp, vượt trội hơn tất cả những mẫu smartphone đang có mặt trên thị trường. Tất cả là nhờ có bộ vi xử lý Apple A14 Bionic được sản xuất trên tiến trình 5nm mới nhất, không chỉ manh mà còn tiết kiệm điện năng tới tối đa. Con chip này được đánh giá là bộ vi xử lý mạnh mẽ nhất, nhanh nhất hiện nay với cấu tạo từ 6 lõi CPU, 11,8 tỷ bóng bán dẫn, 4 lõi GPU mới, và nhanh hơn A13 Bionic tới 40%. Công nghệ kết nối mạng 5G mới cùng với Wi-Fi 6 cũng đã được đưa vào iPhone 12, hứa hẹn sẽ mang tới một khả năng kết nối Internet vượt trội hoàn toàn.

  lcimg-a62d96d8-e998-4803-9ac5-dce77df28439

  Đặc biệt, trí tuệ nhân tạo AI Neural Engine giờ đây cũng đã được nâng lên thành 16 lõi, vì vậy nên vi xử lý Apple A14 Bionic có thể tính toán được 11 nghìn tỷ phép tính trong một giây. Bộ nhớ 128GB trên iPhone 12 cũng giúp cho người dùng có được không gian lưu trữ thoải mái hơn.

  Hệ thống camera đẳng cấp
  Vẫn là một hệ thống camera kép như trên người tiền nhiệm iPhone 11, thế nhưng các cảm biến trên iPhone 12 128GB chính hãng VN/A đã có khẩu độ tốt hơn, giúp thu nhận được nhiều ánh sáng, và từ đó những tấm hình cho ra sẽ mang chất lượng “xịn xò” hơn. Theo đó, cụm camera kép của máy bao gồm một cảm biến chính 12MP góc rộng và một camera phụ góc siêu rộng cũng có độ phân giải là 12MP, cho trường nhìn lên tới 120 độ.

  lcimg-c1948b56-0661-497c-b56e-e938c2d208a7

  Ngoài ra, Apple cũng đã nâng cấp các thuật toán xử lý ảnh trong các tính năng như chụp chân dung Portrait hay chụp chân dung Highkey. iPhone 12 hứa hẹn cũng sẽ cho khả năng chụp đêm tốt hơn nhiều so với iPhone 11. Về khả năng quay video, iPhone 12 sẽ là smartphone đầu tiên hỗ trợ quay video HDR chuẩn Dolby Vision, độ phân giải cao 4K@60fps.

  Viên pin cho thời lượng sử dụng bền bỉ
  Cung cấp năng lượng cho iPhone 12 năm nay là viên pin cho thời lượng sử dụng lên tới 17 tiếng xem video liên tục cùng với thời gian nghe nhac liên tục lên tới hơn 60 tiếng.

  lcimg-2d684d61-a3fc-48a9-8faa-f2ef0d1d3306

  Ngoài dung lượng pin được cải thiện, công nghệ sạc nhanh cũng rất quan trọng. iPhone 12 được trang bị công nghệ sạc nhanh Power Delivery 2.0 18W của Apple, chỉ cần sạc 30 phút là người dùng sẽ có ngay 50% pin để tiếp tục những công việc còn đang dang dở. Đặc biệt hơn cả là Apple đã mang tính năng sạc không dây MagSafe 15W quay trở lại trên iPhone 12, cho phép người dùng có thể nạp lại năng lượng mà không cần phải mang theo quá nhiều củ, cáp sạc phức tạp.</div>
