<div class="wrapper row-offcanvas row-offcanvas-left">
  <div style="display: flex">
      <div class="container" style="padding: 0; position: relative">
          <div class="container">
              <div class="row"
                   style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 30px auto; padding: 20px;">
                  <div class="col-sm-12">
                      <form method="put" enctype="multipart/form-data" [formGroup]="formEditCustomer" (ngSubmit)="editCustomer()">
                          <div style="display: flex ; justify-content: space-between">
                              <h2 class="myclass">Sửa thông tin khách hàng</h2>
                              <div>
                                  <img style="width: 100px">
                              </div>
                          </div>
                          <div class="form-group">
                              <label>Mã khách hàng</label>
                              <input type="text" class="form-control"
                                     name="customerId" placeholder="Id" readonly id="customerId" formControlName="customerId"/>
                              <input type="hidden"/>
                              <input type="hidden"/>
                          </div>
                          <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <input type="text" class="form-control"
                                   name="username" placeholder="Enter username" id="username" readonly formControlName="userName"/>
                          </div>
                          <div class="form-group">
                            <label>Mật khẩu</label>
                            <input type="password" class="form-control"
                                   name="password" placeholder="Enter password" id="password" readonly formControlName="password"/>
                          </div>
                          <div class="form-group">
                              <label>Tên khách hàng</label>
                              <input type="text" class="form-control"
                                     name="fullName" placeholder="Enter name" id="fullName" formControlName="fullName">
                          </div>
                          <div class="form-group">
                              <label>Email</label>
                              <input type="email" class="form-control"
                                     name="email" placeholder="Enter email" id="email" formControlName="email"/>
                          </div>
                          <div class="form-group">
                              <label>Số điện thoại</label>
                              <input type="text" class="form-control"
                                     name="phone" id="phone" formControlName="phone"/>
                          </div>
                          <div class="form-group">
                              <label>Địa chỉ</label>
                              <input type="text" class="form-control"
                                     name="address" placeholder="Enter Adrdress" id="address" formControlName="address">
                          </div>
                          <div class="form-group">
                              <label>Trạng thái</label>
                              <input style="margin-left: 20px" name="status" type="radio" value="true" formControlName="status"> Kích hoạt |
                              <input name="status" type="radio" value="false"  formControlName="status"> Hủy kích hoạt
                          </div>
                          <br>
                          <div class="editButton">
                            <button [disabled]="formEditCustomer.invalid" type="submit" class="btn btn-primary">Lưu chỉnh sửa</button>
                            <a class="btn btn-primary" routerLink="/admin/listCustomers">Xem danh sách khách hàng</a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
