.total-customers, .total-sales, .total-income{
  box-shadow: 0px 10px 1px 5px #999999;
  transition: 0.5s;
  opacity: 0.2;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}

.total-customers:hover, .total-sales:hover, .total-income:hover{
  box-shadow: 0px -10px 1px 5px #999999;
  opacity: 1;
  transform: scale(1.1);
}
