<div class="wrapper row-offcanvas row-offcanvas-left">
  <div style="display: flex">
      <div th:include="layout_admin/nav_bar:: nav_bar"></div>
      <div class="container" style="padding: 0; position: relative">
          <div th:include="layout_admin/navi_bar:: navi_bar"></div>
          <div class="container">
              <div class="row"
                   style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
                  <div class="col-sm-12">
                      <h2 class="myclass">Thêm mã giảm giá</h2>
                      <form method="post" enctype="multipart/form-data" [formGroup]="formAddPromotion" (ngSubmit)="addPromotion()">
                        <input type="hidden">
                        <div class="form-group">
                            <label>Tên mã giảm giá</label>
                            <input type="text" class="form-control"
                                   name="name" placeholder="Nhập tên mã giảm giá" id="name" value="" formControlName="promotionName">
                        </div>
                        <div class="form-group">
                            <label>Ngày bắt đầu</label>
                            <input type="date" class="form-control"
                                   name="startTime" placeholder="Chọn ngày băt đầu áp dụng" id="startTime" value="" formControlName="startTime">
                        </div>
                        <div class="form-group">
                            <label>Ngày kết thúc</label>
                            <input type="date" class="form-control"
                                   name="endTime" placeholder="Chọn ngày kết thúc áp dụng" id="endTime" value="" formControlName="endTime">
                        </div>
                        <div class="form-group">
                            <label>Ngày áp dụng</label>
                            <input type="text" class="form-control"
                                   name="applyDay" placeholder="Nhập những ngày được áp dụng mã" id="applyDay" value="" formControlName="applyDay">
                        </div>
                        <div class="form-group">
                            <label>Số lượng</label>
                            <input type="text" class="form-control"
                                   title="Must enter from 0 to 100"
                                   name="quantity" placeholder="Nhập số lượng mã" id="quantity" value="" required formControlName="quantity">
                        </div>
                        <div class="form-group">
                            <label>Số tiền giảm</label>
                            <input type="text" class="form-control"
                                   name="maxDiscount" placeholder="Nhập số tiền giảm" id="maxDiscount" value="" required formControlName="maxDiscount">
                        </div>
                        <div class="form-group">
                            <label>Còn áp dụng</label>
                            <input type="text" class="form-control"
                                   name="remainApply" placeholder="Nhập số lượng mã còn áp dụng" id="remainApply" value="" required formControlName="remainApply">
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label> <br>
                            <input name="status" type="radio" value="true" required formControlName="status"> Kích hoạt |
                            <input name="status" type="radio" value="false" required formControlName="status"> Hủy kích hoạt
                        </div>
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" class="form-control"
                                   name="code" placeholder="Nhập CODE của mã" id="code" value="" required formControlName="code">
                        </div>
                        <br>
                        <div class="editButton">
                          <button [disabled]="formAddPromotion.invalid" type="submit" class="btn btn-primary">Lưu mã mới</button>
                          <a class="btn btn-primary" href="/admin/listPromotions">Xem danh sách mã giảm giá</a>
                        </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
