<div class="wrapper row-offcanvas row-offcanvas-left">
  <div style="display: flex">
      <div class="container" style="padding: 0; position: relative">
          <div th:include="layout_admin/navi_bar:: navi_bar"></div>
          <div class="container">
              <div class="row"
                   style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 30px auto; padding: 20px;">
                  <div class="col-sm-12">
                      <h2 class="myclass">Add Product</h2>
                      <form method="post" enctype="multipart/form-data" [formGroup]="formAddProduct" (ngSubmit)="addProduct()">
                        <div class="form-group">
                          <label>Product ID</label>
                          <input class="form-control" name="productId" placeholder="Enter ID" id="productId" value="" formControlName="productId">
                          <p style="color: red" *ngIf="formAddProduct.get('productId')?.errors?.['required'] && formAddProduct.get('productId')?.dirty">Vui lòng nhập ID sản phẩm</p>
                        </div>

                          <div class="form-group">
                              <label>Product Name</label>
                              <input class="form-control" name="productName" placeholder="Enter name" id="productName" value="" formControlName="productName">
                              <p style="color: red" *ngIf="formAddProduct.get('productName')?.errors?.['required'] && formAddProduct.get('productName')?.dirty">Vui lòng nhập tên sản phẩm</p>
                          </div>


                          <div class="form-group">
                              <label>Desciption</label>
                              <input type="text" class="form-control" name="description" placeholder="Enter description" id="description" value="" formControlName="description">
                              <p style="color: red" *ngIf="formAddProduct.get('description')?.errors?.['required'] && formAddProduct.get('description')?.dirty">Vui lòng nhập mô tả sản phẩm</p>
                          </div>


                          <div class="form-group">
                              <label>Image</label>
                              <input type="text" class="form-control" name="productImage" placeholder="Enter images" id="productImage" value="" formControlName="productImage">
                              <p style="color: red" *ngIf="formAddProduct.get('productImage')?.errors?.['required'] && formAddProduct.get('productImage')?.dirty">Vui lòng nhập ảnh sản phẩm</p>
                          </div>


                          <div class="form-group">
                              <label>Price</label>
                              <input type="text" class="form-control" name="price" placeholder="Enter price" id="price" value="" formControlName="price">
                              <p style="color: red" *ngIf="formAddProduct.get('price')?.errors?.['required'] && formAddProduct.get('price')?.dirty">Vui lòng nhập giá sản phẩm</p>
                          </div>


                          <div class="form-group">
                            <label>Ram</label>
                            <input type="text" class="form-control" name="ram" placeholder="Enter ram" id="ram" value="" formControlName="ram">
                            <p style="color: red" *ngIf="formAddProduct.get('ram')?.errors?.['required'] && formAddProduct.get('ram')?.dirty">Vui lòng nhập ram sản phẩm</p>
                          </div>


                        <div class="form-group">
                          <label>Storage</label>
                          <input type="text" class="form-control" name="storage" placeholder="Enter storage" id="storage" value="" formControlName="storage">
                          <p style="color: red" *ngIf="formAddProduct.get('storage')?.errors?.['required'] && formAddProduct.get('storage')?.dirty">Vui lòng nhập dung lượng sản phẩm</p>
                        </div>


                        <div class="form-group">
                          <label>Color</label>
                          <input type="text" class="form-control" name="color" placeholder="Enter color" id="color" value="" formControlName="color">
                          <p style="color: red" *ngIf="formAddProduct.get('color')?.errors?.['required'] && formAddProduct.get('color')?.dirty">Vui lòng nhập màu sản phẩm</p>
                        </div>


                          <div class="form-group">
                              <label>Quantity</label>
                              <input type="text" class="form-control" name="quantity" placeholder="Enter quantity" id="quantity" value="" formControlName="quantity">
                              <p style="color: red" *ngIf="formAddProduct.get('quantity')?.errors?.['required'] && formAddProduct.get('quantity')?.dirty">Vui lòng nhập số lượng sản phẩm</p>
                          </div>

                          <div class="form-group">
                            <label>Status</label><br>
                              <input name="status" type="radio" value="true" formControlName="status"> Enable |
                              <input name="status" type="radio" value="false" formControlName="status"> Disable
                          </div>
                           <tr>
                            <th>Category</th>
                            <td>
                              <select style="margin-left: 20px;" class="form-select" aria-label="Default select example"  formControlName="category">
                                <option value="" disabled>Choose category</option>
                                <option *ngFor="let c of categories" value="{{c.categoryId}}">{{c.categoryName}}</option>
                              </select>
                            </td>
                          </tr>
                          <br>
                          <div class="editButton">
                            <button [disabled]="formAddProduct.invalid" type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-primary" routerLink="/admin/listProducts">Display List Product</a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
