<div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a href="index.html">Trang chủ</a></li>
                      <li>Tài khoản của tôi</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!-- customer login start -->
<div class="customer_login mt-60">
  <div class="container">
      <div class="row">
          <!--login area start-->
          <div class="col-lg-6 col-md-6">
              <div class="account_form">
                  <h2>Đăng nhập</h2>

                  <form method="post" enctype="multipart/form-data" [formGroup]="formLogin" (ngSubmit)="login()">
                      <div class="form-group">
                        <p>
                          <label>Tên đăng nhập <span>*</span></label>
                          <input type="text" class="form-control" name="userName" placeholder="Enter username" id="userName" formControlName="userName">
                          <p style="color: red" *ngIf="formLogin.get('userName')?.errors?.['required'] && formLogin.get('userName')?.dirty">Vui lòng nhập tên đăng nhập</p>
                        <p>
                          <label>Mật khẩu <span>*</span></label>
                          <input type="password" class="form-control" name="password" placeholder="Enter password" id="password" formControlName="password">
                          <p style="color: red" *ngIf="formLogin.get('password')?.errors?.['required'] && formLogin.get('password')?.dirty">Vui lòng nhập mật khẩu</p>
                        <div class="login_submit">
                          <button [disabled]="formLogin.invalid" >Đăng nhập</button>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
          <!--login area start-->

          <!--register area start-->
          <div class="col-lg-6 col-md-6">
              <div class="account_form register">
                  <h2>Đăng ký</h2>
                  <form method="post" enctype="multipart/form-data" [formGroup]="formRegister" (ngSubmit)="register()">
                      <p>
                        <label>Tên đăng nhập <span>*</span></label>
                          <input type="text" class="form-control" name="userName" placeholder="Enter username" id="userNameForUR" formControlName="userName">
                          <p style="color: red" *ngIf="formRegister.get('userName')?.errors?.['required'] && formRegister.get('userName')?.dirty">Vui lòng nhập tên đăng nhập</p>
                      <p>
                        <label>Mật khẩu <span>*</span></label>
                          <input type="password" class="form-control" name="password" placeholder="Enter password" id="passwordForUR" formControlName="password">
                          <p style="color: red" *ngIf="formRegister.get('password')?.errors?.['required'] && formRegister.get('password')?.dirty">Vui lòng nhập mật khẩu</p>
                      <div class="login_submit">
                          <button [disabled]="formRegister.invalid" type="submit">Đăng ký</button>
                      </div>
                  </form>
              </div>
          </div>
          <!--register area end-->
      </div>
  </div>
</div>
<!-- customer login end -->
