<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a href="index.html">Trang chủ</a></li>
                      <li>{{dataProduct.productName}}</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  </div>
  <!--breadcrumbs area end-->

  <!--product details start-->
  <div class="product_details mt-60 mb-60">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6">
              <div class="product-details-tab">
                  <div style="display: flex; justify-content: center" id="img-1">
                    <img style="height: 500px; width: auto" id="" src="{{mainImg}}">
                  </div>
                  <div class="">
                      <ul style="display: flex; flex-wrap: wrap; justify-content: center" class="">
                          <li style="margin: 5px 10px; width: 101.95px;" class="edit_detail-product-1" *ngFor="let i of dataProduct.productImage">
                              <a style="display: flex;justify-content: center">
                                  <img (click)="replaceImg(i)" src="{{i}}" alt="zo-th-1"/>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="product_d_right">
                  <form action="#">

                      <h1>{{dataProduct.productName}}</h1>
                      <div class="price_box">
                          <span class="current_price">{{priceString}}</span> <br>

                      </div>
                      <div class="product_variant color">
                          <h3>Lựa chọn màu</h3>
                          <ul style="margin-top: 10px;" class="ul-color">
                            <li [ngStyle]="{'background-color':dataHasOneImg.color == c ? 'gold' : 'black'}" *ngFor="let c of dataProduct.color" (click)="chooseColor(c)"><p>{{c}}</p></li>
                          </ul>

                      </div>
                      <div class="product_variant quantity">
                          <a (click)="buy(dataHasOneImg)" (click)="addTotal(dataProduct.price)" class="button">Thêm vào giỏ hàng</a>

                      </div>

                      <div style="margin-bottom: 20px;">
                        <p style="font-weight: bold; font-size: medium">Đã bán được: {{dataProduct.numberOfSales}} sản phẩm</p>
                      </div>

                  </form>
                  <div class="priduct_social">
                      <ul>
                          <li><a class="facebook" href="https://facebook.com" title="facebook"><i class="fa fa-facebook"></i>
                                  Like</a></li>
                          <li><a class="twitter" href="https://twitter.com" title="twitter"><i class="fa fa-twitter"></i> tweet</a>
                          </li>
                          <li><a class="pinterest" href="https://pinterest.com" title="pinterest"><i class="fa fa-pinterest"></i>
                                  save</a></li>
                          <li><a class="google-plus" href="https://google.com" title="google +"><i class="fa fa-google-plus"></i>
                                  share</a></li>
                          <li><a class="linkedin" href="https://linkedin.com" title="linkedin"><i class="fa fa-linkedin"></i>
                                  linked</a></li>
                      </ul>
                  </div>
                  <button class="button-cfg" data-bs-toggle="collapse" href="#config-area" role="button" aria-expanded="false" aria-controls="main_all_tours_map">NHẤN ĐỂ XEM CẤU HÌNH SẢN PHẨM</button>
                  <div class="collapse" id="config-area">
                    <div class="config-detail" style="margin-top: 20px; display: flex; justify-content: center; background-color: steelblue; border-radius: 5px;">
                      <div class="config-detail-img" style="display: flex; justify-content: center; align-items: center;">
                        <img style="width: 300px;" src="{{dataProduct.productImage[0]}}" alt="">
                      </div>
                      <div class="content-detail" style="color: #fff; padding: 15px 10px 15px 0px;">
                        <p style="text-transform: uppercase; font-weight: bold;"><span style="margin: 20px 0px;">Thông tin cấu hình sản phẩm</span><br>{{dataProduct.productName}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">Công nghệ màn hình:</span> {{cfg.screenTechnology}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">CPU:</span> {{cfg.cpu}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">Kích thước màn hình:</span> {{cfg.wideScreen}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">Độ phân giải:</span> {{cfg.resolution}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">RAM:</span> {{dataProduct.ram}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">Bộ nhớ trong (ROM):</span> {{dataProduct.storage}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">Mạng di động:</span> {{cfg.mobileNetwork}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">Số khe SIM:</span> {{cfg.simSlotNumber}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">Pin:</span> {{cfg.battery}}</p>
                        <p><span style="font-weight: bold; margin: 20px 0px;">Cổng kết nối/sạc:</span> {{cfg.connector}}</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-12">
            <div style="margin-top: 20px" class="product_desc">
              <strong style="font-size: 20px; text-align: center;">Mô tả sản phẩm</strong>
              <p style="font-size: 20px; line-height: 1.8; margin-top: 20px;">{{dataProduct.description}} </p>
            </div>
          </div> -->
      </div>
  </div>
  </div>
  <!--product details end-->

