<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a href="index.html">Home</a></li>
                      <li>{{dataProduct.productName}}</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  </div>
  <!--breadcrumbs area end-->

  <!--product details start-->
  <div class="product_details mt-60 mb-60">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6">
              <div class="product-details-tab">
                  <div style="display: flex; justify-content: center" id="img-1">
                    <img style="height: 500px; width: auto" id="zoom1" src="{{mainImg}}">
                  </div>
                  <div class="">
                      <ul style="display: flex; flex-wrap: wrap; justify-content: center" class="">
                          <li style="margin: 5px 10px; width: 101.95px;" class="edit_detail-product-1" *ngFor="let i of dataProduct.productImage">
                              <a style="display: flex;justify-content: center">
                                  <img (click)="replaceImg(i)" src="{{i}}" alt="zo-th-1"/>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="product_d_right">
                  <form action="#">

                      <h1>{{dataProduct.productName}}</h1>
                      <div class=" product_ratting">
                          <ul>
                              <li><a href="#"><i class="fa fa-star"></i></a></li>
                              <li><a href="#"><i class="fa fa-star"></i></a></li>
                              <li><a href="#"><i class="fa fa-star"></i></a></li>
                              <li><a href="#"><i class="fa fa-star"></i></a></li>
                              <li><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="review"><a href="#"> (customer review ) </a></li>
                          </ul>

                      </div>
                      <div class="price_box">
                          <span class="current_price">{{dataProduct.price}} đ </span> <br>

                      </div>
                      <div class="product_desc">
                          <p>{{dataProduct.description}} </p>
                      </div>
                      <div class="product_variant color">
                          <h3>Lựa chọn màu</h3>
                          <ul class="ul-color">
                            <li *ngFor="let c of dataProduct.color" (click)="chooseColor(c)"><p>{{c}}</p></li>
                            <!-- [ngStyle]="{'background-color':c == dataHasOneImg.color ? 'gold' : ''}" -->
                              <!-- <li (click)="chooseColor1(product.pColor)" class="color1"></li>
                              <li (click)="chooseColor5(product.pColor)" class="color5"></li>
                              <li (click)="chooseColor3(product.pColor)" class="color3"></li>
                              <li (click)="chooseColor6(product.pColor)" class="color6"></li>
                              <li (click)="chooseColor7(product.pColor)" class="color7"></li>
                              <li (click)="chooseColor8(product.pColor)" class="color8"></li> -->
                          </ul>

                          <!-- <h3>Lựa chọn phiên bản</h3>
                          <ul>
                              <li class="proStorage"><a href="">64 GB</a></li>
                              <li class="proStorage"><a href="">128 GB</a></li>
                              <li class="proStorage"><a href="">256 GB</a></li>
                          </ul> -->

                      </div>
                      <div class="product_variant quantity">
                          <a (click)="buy(dataHasOneImg)" (click)="addTotal(dataProduct.price)" class="button">Thêm vào giỏ hàng</a>

                      </div>
                      <div class=" product_d_action">
                          <ul>
                              <li><a (click)="addToWishList(dataProduct.productId)" title="Add to wishlist">+ Yêu thích</a></li>
                          </ul>
                      </div>

                  </form>
                  <div class="priduct_social">
                      <ul>
                          <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i>
                                  Like</a></li>
                          <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> tweet</a>
                          </li>
                          <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i>
                                  save</a></li>
                          <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i>
                                  share</a></li>
                          <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i>
                                  linked</a></li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>
  </div>
  </div>
  <!--product details end-->

