<div class="wrapper row-offcanvas row-offcanvas-left">
  <div style="display: flex">
      <div class="container" style="padding: 0; position: relative">
          <div class="container">
              <h1 class="title">Danh sách đơn hàng</h1>
              <div style="display: flex; justify-content: space-between">
                <div class="add-button">
                    <a class="btn btn-primary" routerLink="/admin/addCategory">Thêm đơn hàng</a>
                </div>
                <div class="search_box pull-right">
                  <div class="input-group" style="justify-content: space-around">
                    <form>
                        <p>Tìm kiếm:</p> <input type="text" name="keyword" id="keyword" [(ngModel)]="keyword"/>
                    </form>
                    <button (click)="loadSearching(keyword)" style="margin-right: 150px;">Tìm</button>
                    <button (click)="loadOrders()" >Xem danh sách</button>
                  </div>
                </div>
              </div>
              <table class="table table-bordered">
                  <thead>
                  <tr style="text-align: center;">
                      <th style="text-align: center">Mã đơn hàng</th>
                      <th style="text-align: center">Mã khách hàng</th>
                      <th style="text-align: center">Tên người nhận</th>
                      <th style="text-align: center">Địa chỉ</th>
                      <th style="text-align: center">Số điện thoại</th>
                      <th style="text-align: center">Mã giảm giá</th>
                      <th style="text-align: center">Tổng tiền</th>
                      <th style="text-align: center">Trạng thái</th>
                      <th style="text-align: center">Ngày tạo</th>
                      <th style="text-align: center">Chi tiết đơn hàng</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let o of listOrders">
                      <td>{{o.orderId}}</td>
                      <td>{{o.customer.customerId}}</td>
                      <td>{{o.fullName}}</td>
                      <td>{{o.address}}</td>
                      <td>{{o.phone}}</td>
                      <td>{{o.promotion.code}}</td>
                      <td>{{o.total}} VNĐ</td>
                      <td>{{o.status}}</td>
                      <td>{{o.createAt}}</td>
                      <td style="text-align: center">
                          <a href="admin/listOrderDetails/{{o.orderId}}" (click)="details(o.orderId)" class="btn btn-primary btn-sm" href="javascript:void(0)" style="margin-top: 0;">Xem chi tiết</a>
                      </td>
                  </tr>
                  </tbody>
              </table>
              <!-- <div class="text-center">
                  <div class="text-center">
                      <span>Total Items: </span>
                  </div>
                  <nav class="pagination justify-content-center flex-wrap">
                          <li>
                              <a class="page-link">First</a>
                          </li>
                          <li>
                              <a class="page-link">Previous</a>
                          </li>
                              <li class="page-item">
                                  <a class="page-link"></a>
                              </li>
                                  <li class="page-item">
                                      <a class="page-link"></a>
                                  </li>
                                  <li>
                                      <a class="page-link">...</a>
                                  </li>
                                  <li class="page-item">
                                      <a class="page-link"></a>
                                  </li>
                                  <li>
                                      <a class="page-link">...</a>
                                  </li>
                                  <li class="page-item">
                                      <a class="page-link"></a>
                                  </li>
                                  <li>
                                      <a th:href="@{'/admin/order/'+${currentPage + 3}+ ${query}}"
                                         class="page-link">...</a>
                                  </li>
                          <li>
                              <a class="page-link">Next</a>
                          </li>
                          <li>
                              <a class="page-link">Last</a>
                          </li>
                  </nav>
              </div> -->
          </div>
      </div>
  </div>
</div>
