<!--footer area start-->
<footer class="footer_widgets">
  <div class="footer_top">
      <div class="container">
          <div class="row" style="display: flex; justify-content: space-between">
              <div class="col-lg-4 col-md-6">
                  <div class="widgets_container contact_us">
                      <div style="margin-bottom: 50px;" class="footer_logo">
                          <a href="#"><img src="../../assets/img/logo/logo.png" alt=""></a>
                      </div>
                      <div class="footer_contact">
                          <p>Đồ án tốt nghiệp.</p>
                          <p>Đề tài: Xây dựng website cho cửa hàng bán điện thoại</p>
                          <p><span>Địa chỉ:</span> thôn Cành Lá, xã Cành Cây, huyện Gió Mây, tỉnh Đồi Núi.</p>
                          <p><span>Điện thoại: </span><a href="tel:0123456789">0123456789</a> </p>
                          <p><span>Hỗ trợ: </span><a href="mailto:demo@example.com">lychinhdat.com.vn</a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div style="padding: 0;" class="widgets_container newsletter">
                      <h3>Theo dõi chúng tôi tại</h3>
                      <div style="margin-bottom: 30px;" class="footer_social_link">
                          <ul>
                              <li><a class="facebook" href="https://facebook.com" title="Facebook"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li><a class="twitter" href="https://twitter.com" title="Twitter"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li><a class="instagram" href="https://instagram.com" title="instagram"><i
                                          class="fa fa-instagram"></i></a></li>
                              <li><a class="linkedin" href="https://linkedin.com" title="linkedin"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li><a class="rss" href="https://rss.com" title="rss"><i class="fa fa-rss"></i></a></li>
                          </ul>
                      </div>
                      <div>
                        <h3>Vị trí cửa hàng trên bản đồ</h3>
                        <div class="borderMap">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59579.0257643496!2d105.81745145713815!3d21.045121961661646!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aba15ec15d17%3A0x620e85c2cfe14d4c!2zTMSDbmcgQ2jhu6cgdOG7i2NoIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2sus!4v1657253457029!5m2!1svi!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!--footer area end-->
