<!--footer area start-->
<footer class="footer_widgets">
  <div class="footer_top">
      <div class="container">
          <div class="row" style="display: flex; justify-content: space-between">
              <div class="col-lg-4 col-md-6">
                  <div class="widgets_container contact_us">
                      <div class="footer_logo">
                          <a href="#"><img src="../../assets/img/logo/logo.png" alt=""></a>
                      </div>
                      <div class="footer_contact">
                          <p>Đồ án tốt nghiệp.</p>
                          <p>Đề tài: Xây dựng website cho cửa hàng bán điện thoại</p>
                          <p><span>Địa chỉ:</span> Số 18 phố Viên, phường Đức Thắng, quận Bắc Từ Liêm, Hà Nội.</p>
                          <p><span>Điện thoại: </span><a href="tel:0123456789">0123456789</a> – <a
                                  href="tel:0123456789">0123456789</a> </p>
                          <p><span>Hỗ trợ: </span><a href="mailto:demo@example.com">daotao.humg.edu.vn</a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="widgets_container newsletter">
                      <h3>Theo dõi chúng tôi tại</h3>
                      <div class="footer_social_link">
                          <ul>
                              <li><a class="facebook" href="https://facebook.com" title="Facebook"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li><a class="twitter" href="https://twitter.com" title="Twitter"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li><a class="instagram" href="https://instagram.com" title="instagram"><i
                                          class="fa fa-instagram"></i></a></li>
                              <li><a class="linkedin" href="https://linkedin.com" title="linkedin"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li><a class="rss" href="https://rss.com" title="rss"><i class="fa fa-rss"></i></a></li>
                          </ul>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!--footer area end-->
