<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a href="home">Trang chủ</a></li>
                      <li>Cửa hàng</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--breadcrumbs area end-->

<div style="margin-top: 20px; margin-left: 10px;" class="providers">
  <div class="container">
    <div style="display: flex; justify-content: flex-start;" class="row_custom">
      <p style="font-weight: bold; margin-right: 20px; margin-bottom: 0; font-size: 14px;">Lọc theo nhà cung cấp:</p>
      <div *ngFor="let c of categories">
        <div style="margin-right: 20px;" class="single_provider">
          <button (click)="getProByCate(c.categoryId)" class="provider_button" style="border-radius: 5px; padding: 5px 10px; color: #fff; font-weight: bold;">{{c.categoryName}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--shop  area start-->
<div style="margin-top: 20px;" class="shop_area shop_fullwidth mt-60 mb-60">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <!--shop wrapper start-->
              <!--shop toolbar start-->
              <div class="shop_toolbar_wrapper">
                  <div class="shop_toolbar_btn">

                      <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip"
                          title="3"></button>

                      <button data-role="grid_4" type="button" class="active btn-grid-4" data-bs-toggle="tooltip"
                          title="4"></button>

                      <button data-role="grid_list" type="button" class="btn-list" data-bs-toggle="tooltip"
                          title="List"></button>
                  </div>
                  <!-- <div class=" niceselect_option">
                      <div class="select_option" action="#">
                          <select name="orderby" id="short">
                              <option selected value="1">Sắp xếp theo</option>
                              <option value="2"><a href="javascript:void(0)" (click)="ascButton()">Giá tăng dần</a></option>
                              <option value="3">Giá giảm dần</option>
                          </select>
                      </div>
                  </div> -->
                  <a class="sort-button" href="javascript:void(0)" (click)="ascNameButton()">Tên A-Z</a>
                  <a class="sort-button" href="javascript:void(0)" (click)="descNameButton()">Tên Z-A</a>
                  <a class="sort-button" href="javascript:void(0)" (click)="ascButton()">Giá tăng dần</a>
                  <a class="sort-button" href="javascript:void(0)" (click)="descButton()">Giá giảm dần</a>

                  <div style="display: flex; justify-content: center; align-items: center;">

                      <p style="margin: 0 8px">Khoảng giá: </p>
                      <input [(ngModel)]="lowCost" min="0" type="number">
                      <p style="margin: 0 5px;">đến</p>
                      <input [(ngModel)]="highCost" min="0" type="number">
                      <button class="search-range" (click)="rangeProduct()" style="margin-left: 8px;">Tìm</button>

                  </div>
              </div>
              <!--shop toolbar end-->
              <div class="row shop_wrapper">
                  <div class="col-lg-3 col-md-4 col-12 class_ngFor" *ngFor="let p of shop_product">
                    <a href="/productDetail/{{p.productId}}">
                      <article class="single_product">
                          <figure>
                              <div class="product_thumb editProductThumb">
                                  <a href="../productDetail/{{p.productId}}" class="primary_img" href="">
                                    <img src="{{p.productImage}}" alt=""></a>
                              </div>
                              <div class="product_content grid_content">
                                  <div class="price_box">
                                      <!-- <span class="old_price">{{p.oldPriceView}}</span><br> -->
                                      <span class="current_price">{{p.price}} VNĐ</span>
                                  </div>
                                  <div class="product_ratings">
                                      <ul>
                                          <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                          <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                          <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                          <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                          <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                      </ul>
                                  </div>
                                  <h3 class="product_name grid_name"><a href="/productDetail/{{p.productId}}">{{p.productName}}</a></h3>
                              </div>
                              <div class="product_content list_content">
                                  <div class="left_caption">
                                      <div class="price_box">
                                          <!-- <span class="old_price">{{p.old_price_view}}</span> -->
                                          <span class="current_price">{{p.price}} VNĐ</span>
                                      </div>
                                      <h3 class="product_name"><a href="/productDetail/{{p.productId}}">{{p.productName}} hàng chính hãng 100%</a></h3>
                                      <div class="product_ratings">
                                          <ul>
                                              <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                              <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                              <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                              <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                              <li><a href="/productDetail/{{p.productId}}"><i class="ion-android-star-outline"></i></a></li>
                                          </ul>
                                      </div>
                                      <div class="product_desc">
                                          <p>{{p.description}}</p>
                                      </div>
                                  </div>
                              </div>
                          </figure>
                      </article>
                    </a>
                  </div>
              </div>

              <!-- <div class="shop_toolbar t_bottom">
                  <div class="pagination">
                    <button [ngStyle]="{'display': currentPage == 1 ? 'none' : ''}" (click)="firstPage()"><<</button>
                    <button [ngStyle]="{'display': currentPage == 1 ? 'none' : ''}" (click)="prevPage()">Trang trước</button>
                    <button [ngClass]="{'active': (i+1) == currentPage}" (click)="loadProducts(i+1)" *ngFor="let n of pages; let i = index">{{i+1}}</button>
                    <button [ngStyle]="{'display': currentPage == totalPage ? 'none' : ''}" (click)="nextPage()">Trang sau</button>
                    <button [ngStyle]="{'display': currentPage == totalPage ? 'none' : ''}" (click)="lastPage()">>></button>
                  </div>
              </div> -->
              <!--shop toolbar end-->
              <!--shop wrapper end-->
          </div>
      </div>
  </div>
</div>
<!--shop  area end-->
